# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
print(s[len(s)::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [ ]:
# Method 2:
print(s[len(s)-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [16]:
# Method 1:
list1 = [0, 0, 0]
print(list1)

[0, 0, 0]

In [17]:
# Method 2:
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)

print(list2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [18]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbye"
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [15]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [24]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [29]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [32]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometers.'.format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [36]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nested dictionary grab the word "hello". **

In [40]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

### Write a Python program to swap two variables.

In [41]:
a = 100
b = 200

temp_var = a
a = b
b = temp_var

print(a, b)

200 100

## Thanks